{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeIn" data-wow-duration="200ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
            {{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{"<!-- Contact Details -->" | safeHTML}}
      <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="200ms">
        <h3>{{ .subtitle | markdownify }}</h3>
        <p> {{ .content | markdownify }} </p>
        <div class="contact-details">
          {{ range .contact_details }}
          <div class="con-info clearfix">
            <i class="{{ .icon }}"></i>
            <span>{{ .info }}</span>
          </div>
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
