{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeIn" data-wow-duration="200ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
            {{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{"<!-- Contact Details -->" | safeHTML}}
      <div class="contact-info col-lg-12 wow fadeInUp" data-wow-duration="200ms">
        <h3>{{ .subtitle | markdownify }}</h3>
        <p> {{ .content | markdownify }} </p>
        <div class="contact-details">
          {{ range .contact_details }}
          <div class="con-info clearfix">
            <i class="{{ .icon }}"></i>
            <span>{{ .info }}</span>
          </div>
          {{ end }}
        </div>
      </div>

<div class="col-xs-12 col-sm-8 col-md-9" style="padding:0">
  <div class="map_canvas">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.642276287078858%2C53.342830319780994%2C-2.6397657394409184%2C53.343810333203045&amp;layer=mapnik&amp;marker=53.343320329307545%2C-2.6410210132598877" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=53.34332&amp;mlon=-2.64102#map=19/53.34332/-2.64102">View Larger Map</a></small>
 
  </div>
    <style>
      .map_canvas {
        overflow:hidden;
        background:none!important;
        height:400px;
        width:100%;
      }
    </style>
</div>


    </div>
  </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
