
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.old.old}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
  <!-- this image is for trigger this section fallback background image -->
  <img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'" src="{{ .bg_image_webp | absURL }}" />
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

      </div>
    </div>
  </div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
