{{ with .Site.GetPage "section" "pubs" }}
{{"<!-- Start pubs  Section -->" | safeHTML}}
<section id="pubs" class="parallax-section section section-bg overly" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ with i18n "pubs" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
            {{ with i18n "pubs" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      <div class="col-lg-8 offset-lg-2">
      {{ .Content }}
    </div>

    </div>
  </div>
</section>
{{"<!-- /pubs -->" | safeHTML}}
      {{ end }}
