{{"<!-- Start research  Section -->" | safeHTML}}
<section id="research" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ with i18n "research" }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
            {{ with i18n "research" }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      <div class="col-lg-8 offset-lg-2">
      {{ with .Site.GetPage "section" "research" }}
      {{ .Content }}
      {{ end }}
    </div>

    </div>
  </div>
</section>
{{"<!-- /research -->" | safeHTML}}
